.textStyle {
    padding-top: 25px;
    font-size: xx-large;
    font-weight: bold;
    color: #002b5c;
  }
  
  .row {
    height: auto;
  }
  
  .cell {
    padding: 10px 20px 10px 20px;
  }
  
  .tableStyle{
      margin-top: 30px;
  }
  
  .searchbardiv{
      margin-top: 30px;
  }
  
  .searchbar{
      padding-top: 9px;
      padding-bottom: 9px;
  }
  
  .ml-3{
      margin-left: 30px;
  }

  .btnProfiles {
    display:block;
    border-radius: 24px;
    background-color: rgb(42, 124, 218);
    color: white
    
  }

  .backBtn {
    margin-top: 35px;
    color: #002b5c;
  }
  
  table {
    width: 100%;
  }

  .example-viewport {
    width: 1000px;
    height: 340px;
  }
  
  .example-item {
    height: 50px;
  }