<div class="my-3">
    <mat-card>
        <mat-card-content [formGroup]="formGroup">
            <div class="d-flex flex-column">
                <mat-card-title class="mb-3">
                    {{ 'Dictionary.ResetPassword' | translate }}
                </mat-card-title>
                
                <div class="px-2">
                    <mat-form-field appearance="standard">
                        <mat-label>{{
                            'Label.NewPassword' | translate
                        }}</mat-label>
                        <input
                            matInput
                            formControlName="password"
                            type="password"
                            required
                        />
                        <!--- May need to fix padding/spacing when showing errors -Kevin -->
                        <mat-error
                            *ngIf="formGroup.hasError('required', 'password')">
                            {{ 'Warning.PasswordRequired' | translate }}
                        </mat-error>
                        <mat-error
                        *ngIf="formGroup.hasError('pattern', 'password')">
                        {{ 'Warning.PasswordComplexity' | translate }}
                    </mat-error>
                        <mat-error
                        *ngIf="formGroup.hasError('minlength', 'password')">
                        {{ 'Warning.PasswordTooShort' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="formGroup.hasError('maxlength', 'password')">
                        {{ 'Warning.PasswordTooLong' | translate }}
                    </mat-error>
                    </mat-form-field>
                </div>
               
                <div class="px-2" style="margin-top: 1em;">
                    <mat-form-field appearance="standard">
                        <mat-label>
                            {{ 'Label.ConfirmPassword' | translate }}
                        </mat-label>

                        <input
                            matInput
                            formControlName="confirmPassword"
                            type="password"
                            required
                        />

                        <mat-error *ngIf="confirmPassword?.hasError('notSame')">
                            {{ 'Warning.PasswordNotMatch' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <p  *ngIf="isFailed" style="margin-top: 10px; font-size: 11px; text-align: center;">Password failed to change!</p>
         </mat-card-content>
        <mat-card-actions align="end">
            <button
                mat-raised-button
                id="sign-up-submit-btn"
                color="primary"
                (click)="onSubmit()"
                [disabled]="!formGroup.valid"
            >
            {{ 'Dictionary.ResetPassword' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>