<div
  class="container-fluid row align-items-center pt-5 pb-5"
  [ngClass]="{
    'client-banner-color': isCustomer,
    'custom-bg-pro': !isCustomer,
    'default-banner-color': !user
  }"
  id="banner"
>
  <div class="row align-items-center justify-content-center">
    <div class="col-auto text-center">
      <p class="h1 d-inline" *ngIf="user">
        Welcome back, {{ user.firstName }}.
      </p>
      <br />
      <p class="h1 d-inline" [ngClass]="{ 'black-text': !user }">
        {{ "Message.HowCanWeHelp" | translate }}
      </p>
      <p class="h6" [ngClass]="{ 'black-text': !user }">
        {{ "Message.GetStarted" | translate }}
      </p>
    </div>
  </div>

  <div class="row justify-content-center" id="search-row">
    <div class="col-12 col-md-8 col-lg-5">
      <div class="search-container w-100">
        <input
          class="form-control search-input"
          type="text"
          placeholder="Search"
          [(ngModel)]="searchQuery"
          (ngModelChange)="showResults = searchQuery !== ''"
        />
        <button
          mat-icon-button
          matSuffix
          class="search-button"
          (click)="clearSearchInput()"
        >
          <mat-icon>{{ !showResults ? "search" : "clear" }}</mat-icon>
        </button>
      </div>
      <div
        *ngIf="showResults"
        class="container-fluid search-results-container w-100"
      >
        <div class="row">
          <div class="col-12">
            <div class="search-results" #searchContainer>
              <ng-container *ngFor="let category of categories">
                <div
                  class="category-container"
                  *ngIf="hasMatchingResults(category)"
                >
                  <h3 class="category-name">{{ category.name }}</h3>
                  <div class="services-list">
                    <ng-container
                      *ngFor="
                        let service of category.services | filter : searchQuery
                      "
                    >
                      <div class="service-item-container">
                        <a
                          class="service-item"
                          (click)="selectService(category.name, service.name)"
                        >
                          {{ service.name }}
                        </a>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>

              <div *ngIf="noResult()" class="no-results">
                <i>{{ "Message.NoMatchingResults" | translate }}</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 mb-5 px-4 col-md-8">
  <div class="row justify-content-around align-items-start">
    <div
      class="col-md-3 col-sm-6 col-12 mb-5"
      *ngFor="let category of categories"
    >
      <div class="row justify-content-center align-items-center">
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
          (click)="goToServiceSurvey(category.name)"
        >
          <mat-icon>{{ category.icon }}</mat-icon>
        </button>
      </div>
      <div class="row justify-content-center">
        <span class="mt-2 h7 text-center">{{ category.name }}</span>
      </div>
    </div>
  </div>
</div>

<mat-card id="aboutUs">
  <mat-card-title>About Us</mat-card-title>
  <mat-card-content>
    Computotal provides quality advice and support to its clients regarding
    network and computing systems by proactively planning, designing,
    installing, and maintaining computer networks. Computotal wants to provide a
    single platform for the clients to directly connect with the right IT
    technicians to provide them with the services they need. Additionally, the
    technicians/service providers should also be able to join the IT Pros
    network by registering through the platform.
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>