@use "../../../assets/scss/computotal-theme.scss" as theme;

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
  flex: 50%;
  max-width: 50%;
}

.form-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px ;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px ;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 45px;
  background-color: #174e89;
  color: white;
  border: none;
  cursor: pointer;
}

button:last-child {
  margin-right: 0;
}

button:hover {
  background-color: #89c0f8;
  color: rgb(0, 0, 0);
}

.cancel-button {
  background-color: transparent; 
  color: #767676; 
  border: 2px solid #767676; 
  padding: 0.5rem 1rem;
  border-radius: 45px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cancel-button:hover {
  background-color: #767676; 
  color: #ffffff; 
}

.success-message {
  color: green;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.settings-card {
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 29px;
}

form {
  @extend .settings-card;
}

.section-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}