<p class="h1 text-center">
    {{'Settings' | translate }}
</p>
<div class="full-width mt-5 py-5 mat-toolbar mat-primary text-center">
    <form (ngSubmit)="submitForm()" class="text-center">
        <label>First Name</label>
        <br/>
        <input type="text" id='firstName' [disabled]="formDisabled">
        <br/>
        <label>Last Name</label>
        <br/>
        <input type="text" id='lastName' [disabled]="formDisabled">
        <br/>
        <label>Email</label>
        <br/>
        <input type="email" id="email" [disabled]="formDisabled">
        <br/>
        <label>Street</label>
        <br/>
        <input type="text" id='street' [disabled]="formDisabled">
        <br/>
        <label>City</label>
        <br/>
        <input type="text" id='city' [disabled]="formDisabled">
        <br/>
        <label>Country</label>
        <br/>
        <input type="text" id='country' [disabled]="formDisabled">
        <br/>
        <label>Postal Code</label>
        <br/>
        <input type="text" id='postalCode' [disabled]="formDisabled">
        <br/>
        <button (click)="enableForm()" *ngIf="formDisabled">Edit</button>
        <button type="submit" [disabled]="formDisabled">Submit</button>

    </form>
</div>

<router-outlet></router-outlet>