<br><br>
<div class="project-container">
    <div class="content-container border rounded center">
        <mat-tab-group  [(selectedIndex)]="activeTabIndex" mat-align-tabs="start">
            <!-- Overview Start -->
            <mat-tab label="{{ 'Dictionary.Overview' | translate }}">
                <div class="tab-container">
                    <h1 class="responsive-heading"> <strong>
                        {{ 'Your Project' | translate }} </strong>
                    </h1>
                    <h3>
                        {{ 'Label.ProjectState' | translate }}:
                        {{ project.state }}
                    </h3>
                    <h3>
                        {{ 'Label.UpdatedDate' | translate }}:
                        {{ project.updatedAt | date }}
                    </h3>
                    <h3>
                        {{ 'Label.BillingCost' | translate }}:
                         {{ projectPrice }}
                    </h3>

                    <br> 

                    <h2>
                        {{ 'Project Details' | translate }}
                    </h2>
                    <h3>
                        {{ 'Dictionary.Service' | translate }}:
                        {{ project.serviceName }}
                    </h3>
                    <h3>
                        {{ 'Label.CreatedDate' | translate }}:
                        {{ project.createdAt | date }}
                    </h3>

                    <div *ngIf="isCustomer">
                        <hr />

                        <h2 class="yourTechieLabel">
                            {{ 'Label.YourTechie' | translate }}
                        </h2>
                        <h3>
                            {{ 'Dictionary.Name' | translate }}:
                            {{ project.professional.firstName }}
                            {{ project.professional.lastName }}
                        </h3>
                        <h3>
                            {{ 'Dictionary.Company' | translate }}:
                            {{ project.professional.company }}
                        </h3>
                        <h3>
                            {{ 'Dictionary.Email' | translate }}:
                            {{ project.professional.email }}
                        </h3>

                        <!-- Adding Button to trigger modal -->
                        <!-- Inside project.component.html -->
                        <button mat-raised-button class="completeJob" (click)="openReviewDialog()"><strong>Complete Job</strong></button>


                    </div>

                    <div *ngIf="!isCustomer">
                        <hr />

                        <h2>
                            {{ 'Label.YourCustomer' | translate }}
                        </h2>
                        <h3>
                            {{ 'Dictionary.Name' | translate }}:
                            {{ project.client.firstName }}
                            {{ project.client.lastName }}
                        </h3>
                        <h3>
                            {{ 'Dictionary.Company' | translate }}:
                            {{ project.client.company }}
                        </h3>
                        <h3>
                            {{ 'Dictionary.Email' | translate }}:
                            {{ project.client.email }}
                        </h3>
                    </div>

                    <button
                    class="reviewButton"
                        mat-raised-button
                        id="project-component-review-button"
                        aria-label="Search"
                        *ngIf="isCustomer && project.state == 'Completed' && project.rating == 0"
                        (click)="onReviewProject()"
                    > <strong>
                        {{ 'Label.ReviewService' | translate }} </strong>
                    </button>
                    <button class="startProject"
                        mat-raised-button
                        aria-label="Start Project"
                        *ngIf="!isCustomer && project.state == 'Requested'"
                        (click)="onStartProject()"
                    >
                        {{ 'Message.StartProject' | translate }}
                    </button>
                    <button
                        mat-raised-button
                        aria-label="Mark Project Ongoing"
                        color="primary"
                        *ngIf="!isCustomer && project.state == 'Started'"
                        (click)="onProjectOnGoing()"
                    >
                        {{ 'Message.MarkProjectOngoing' | translate }}
                    </button>
                    <button
                    class="completedButtons"
                        mat-raised-button
                        aria-label="Mark Project Completed"
                        *ngIf="!isCustomer && project.state == 'OnGoing'"
                        (click)="onCompleteProject()"
                    >
                        {{ 'Message.MarkComplete' | translate }}
                    </button>
                    <button
                    class="paidButton"
                        mat-raised-button
                        aria-label="Mark Project Paid"
                        *ngIf="isCustomer && project.state == 'Completed'"
                        (click)="onPayProject()"
                    ><strong>
                        {{ 'Message.MarkProjectPaid' | translate }} </strong>
                    </button>
                </div>
            </mat-tab>

            <!-- Tech Info Start -->
            <mat-tab
                *ngIf="isCustomer"
                label="{{ 'Dictionary.TechInfo' | translate }}"
            >
                <div class="tab-container">
                    <h1>
                        {{ project.professional.firstName }}
                        {{ project.professional.lastName }}
                        | {{ project.professional.company }}
                    </h1>
                    <h3 class="important"> 
                   <strong>     {{ 'Dictionary.Email' | translate }}: </strong>
                        {{ project.professional.email }}
                    </h3>
                    <h3>
                        <strong>    {{ 'Dictionary.Address' | translate }}: </strong>
                        {{ project.professional.address?.street }},
                        {{ project.professional.address?.city }}
                    </h3>
                    <h3 class="important">
                        <strong>       {{ 'Dictionary.Phone' | translate }}: </strong>
                        {{ project.professional.phoneNumber }}
                    </h3>
                    <h3 class="important">
                        <strong>         {{ 'Dictionary.Rate' | translate }}: </strong>
                        {{ project.professional.unitPrice | currency }} per
                        {{ project.professional.unitType }}
                    </h3>
                    <h3 class="skills">
                        <strong>       {{ 'Dictionary.Skills' | translate }}: </strong>
                        {{ proSkills }}
                    </h3>
                </div>
            </mat-tab>
            <mat-tab
                *ngIf="!isCustomer"
                label="{{ 'Label.ClientInfo' | translate }}"
            >
                <div class="tab-container">
                    <h1>
                        {{ project.client.firstName }}
                        {{ project.client.lastName }}
                        | {{ project.client.company }}
                    </h1>
                    <h3>
                        {{ 'Dictionary.Email' | translate }}:
                        {{ project.client.email }}
                    </h3>
                    <h3>
                        {{ 'Dictionary.Address' | translate }}:
                        {{ project.client.address?.street }},
                        {{ project.client.address?.city }}
                    </h3>
                    <h3>
                        {{ 'Dictionary.Phone' | translate }}:
                        {{ project.client.phoneNumber }}
                    </h3>
                    <!-- <h3>
                        {{ 'Dictionary.Skills' | translate }}:
                        {{ proSkills }}
                    </h3> -->
                </div>
            </mat-tab>

            <!-- Order Start -->
            <!-- <mat-tab label="{{ 'Dictionary.Order' | translate }}">
                <div>
                    <h1>
                        {{ 'Dictionary.BillingCost' | translate }}:
                        {{ project.billingCost
                        }}
                    </h1>
                    <h1>
                        {{ 'Dictionary.State' | translate }}:
                        {{ project.state }}
                    </h1>
                    <h1>
                        Total Project Cost:
                        ${{ project.projectCost }}
                    </h1>
                    <h1 *ngIf="project.state == 'Completed'">
                        E-transfer Email: -
                    </h1>

                     <button
                        mat-raised-button
                        aria-label="Search"
                        color="primary"
                        *ngIf="project.state == 'Completed' && isCustomer"
                    >
                        {{ 'Dictionary.Pay' | translate }}
                    </button> 

                    <button
                        mat-raised-button
                        aria-label="Change Cost"
                        color="primary"
                        *ngIf="(project.state == 'Ongoing' || project.state == 'Completed' ||  project.state == 'Started') && !isCustomer"
                        (click)="setProjectPayment()"
                    >
                        Change project cost
                    </button>
                </div>
            </mat-tab>
            -->

            <!-- Chatroom Start -->
            <mat-tab label="{{ 'Dictionary.Chatroom' | translate }}">
                <div #chatRoom class="chat-log p-3">
                    <div>
                        <div *ngFor="let message of project.comments">
                            <p class="mat-body-strong message">
                                {{ message.text }}
                            </p>
                            <p class="mat-small sender">
                                {{
                                    message.authorId == user?._id
                                        ? 'Me'
                                        : message.authorName
                                }}
                                |
                                {{ message.createdAt | date: 'medium' }}
                            </p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div [formGroup]="formGroup" class="searchbardiv ml-5 mr-2">
                        <input
                            type="text"
                            formControlName="messageInput"
                            placeholder="{{ 'Dictionary.send' | translate }}"
                            aria-label="Search"
                            class="chatbar"
                            [(ngModel)]="message"
                        />
                    </div>

                    <button
                        mat-raised-button
                        aria-label="Search"
                        class="search-btn"
                        (click)="onSubmit()"
                    >
                        {{ 'Dictionary.send' | translate }}
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
