<div class="project-container">
  <div class="content-container center">
    <mat-tab-group [(selectedIndex)]="activeTabIndex" mat-align-tabs="start">
      <!-- Overview Start -->
      <mat-tab label="{{ 'Dictionary.Overview' | translate }}">
        <div class="tab-container">
          <h1 class="responsive-heading">
            <strong> {{ "Your Project" | translate }} </strong>
          </h1>
          <h3 class="h3Details">
            {{ "Label.ProjectState" | translate }}:
            {{ project.state }}
          </h3>
          <h3 class="h3Details">
            {{ "Label.UpdatedDate" | translate }}:
            {{ project.updatedAt | date }}
          </h3>
          <h3 class="h3Details" *ngIf="project.state === 'OnGoing'">
            {{ "Estimated Price" | translate }}:
            {{ projectPrice }}
          </h3>
          <h3
            class="h3Details"
            *ngIf="project.state === 'Completed' || project.state === 'Paid'"
          >
            {{ "Label.BillingCost" | translate }}:
            {{ projectPrice }}
            <div
              *ngIf="
                isCustomer &&
                !project.priceConfirmed &&
                project.clientResponse === null
              "
              class="price-confirm action-buttons"
            >
              <button
                mat-raised-button
                color="primary"
                class="confirm-btn"
                (click)="confirmPrice()"
              >
                {{ "Confirm" | translate }}
              </button>
              <button
                mat-raised-button
                color="warn"
                class="reject-btn"
                (click)="rejectPrice()"
              >
                {{ "Reject" | translate }}
              </button>
            </div>
            <span
              *ngIf="project.clientResponse"
              [ngClass]="{
                'text-success': project.clientResponse === 'confirmed',
                'text-danger': project.clientResponse === 'rejected'
              }"
            >
              ({{ project.clientResponse | titlecase | translate }})
            </span>
            <button
              *ngIf="!isCustomer && project.clientResponse === 'rejected'"
              mat-raised-button
              color="primary"
              class="btn-action reset-price-btn"
              (click)="onResetPrice()"
            >
              Reset Price
            </button>
          </h3>
          <h3 class="h3Details" *ngIf="project.priceConfirmed">
            {{ "Payment Status" | translate }}:
            <span [ngClass]="getPaymentStatusClass(transaction?.status)">
              {{ getPaymentStatusDisplay() | translate }}
            </span>
          </h3>

          <div
            class="action-buttons"
            *ngIf="
              isCustomer &&
              project.state === 'Completed' &&
              project.priceConfirmed
            "
          >
            <button
              class="btn-action"
              mat-raised-button
              (click)="onPayProject()"
            >
              <strong>{{ "Make Payment" | translate }}</strong>
            </button>
          </div>

          <div class="section-divider"></div>

          <h2 class="section-title">
            {{ "Project Details" | translate }}
          </h2>
          <h3 class="h3Details">
            {{ "Dictionary.Service" | translate }}:
            {{ project.serviceName }}
          </h3>
          <h3 class="h3Details">
            {{ "Label.CreatedDate" | translate }}:
            {{ project.createdAt | date }}
          </h3>

          <div *ngIf="isCustomer">
            <div class="section-divider"></div>

            <h2 class="section-title">
              {{ "Label.YourTechie" | translate }}
            </h2>
            <h3 class="detail-item">
              {{ "Dictionary.Name" | translate }}:
              {{ project.professional.firstName }}
              {{ project.professional.lastName }}
            </h3>
            <h3 class="detail-item">
              {{ "Dictionary.Company" | translate }}:
              {{ project.professional.company }}
            </h3>
            <h3 class="detail-item">
              {{ "Dictionary.Email" | translate }}:
              {{ project.professional.email }}
            </h3>

            <div class="action-buttons">
              <button
                mat-raised-button
                class="btn-action"
                (click)="openReviewDialog()"
              >
                <strong>{{ "Rate your Techie" | translate }}</strong>
              </button>
            </div>
          </div>

          <div *ngIf="!isCustomer">
            <div class="section-divider"></div>

            <h2 class="section-title">
              {{ "Label.YourCustomer" | translate }}
            </h2>
            <h3 class="detail-item">
              {{ "Dictionary.Name" | translate }}:
              {{ project.client.firstName }}
              {{ project.client.lastName }}
            </h3>
            <h3 class="detail-item">
              {{ "Dictionary.Company" | translate }}:
              {{ project.client.company }}
            </h3>
            <h3 class="detail-item">
              {{ "Dictionary.Email" | translate }}:
              {{ project.client.email }}
            </h3>

            <div class="action-buttons">
              <button
                class="btn-action"
                mat-raised-button
                aria-label="Start Project"
                *ngIf="project.state == 'Requested'"
                (click)="onStartProject()"
              >
                <strong>{{ "Message.StartProject" | translate }}</strong>
              </button>

              <button
                class="btn-action"
                mat-raised-button
                aria-label="Mark Project Completed"
                *ngIf="project.state == 'OnGoing'"
                (click)="onCompleteProject()"
              >
                <strong>{{ "Message.MarkComplete" | translate }}</strong>
              </button>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- Tech Info Start -->
      <mat-tab
        *ngIf="isCustomer"
        label="{{ 'Dictionary.TechInfo' | translate }}"
      >
        <div class="tab-container">
          <h1>
            {{ project.professional.firstName }}
            {{ project.professional.lastName }}
            | {{ project.professional.company }}
          </h1>
          <h3 class="important">
            <strong>{{ "Dictionary.Email" | translate }}:</strong>
            {{ project.professional.email }}
          </h3>
          <h3>
            <strong>{{ "Dictionary.Address" | translate }}:</strong>
            {{ project.professional.address?.street }},
            {{ project.professional.address?.city }}
          </h3>
          <h3 class="important">
            <strong>{{ "Dictionary.Phone" | translate }}:</strong>
            {{ project.professional.phoneNumber }}
          </h3>
          <h3 class="important">
            <strong>{{ "Dictionary.Rate" | translate }}:</strong>
            {{ project.professional.unitPrice | currency }} per
            {{ project.professional.unitType }}
          </h3>
          <h3 class="skills">
            <strong>{{ "Dictionary.Skills" | translate }}:</strong>
            {{ proSkills }}
          </h3>
        </div>
      </mat-tab>

      <mat-tab *ngIf="!isCustomer" label="{{ 'Label.ClientInfo' | translate }}">
        <div class="tab-container">
          <h1>
            {{ project.client.firstName }}
            {{ project.client.lastName }}
            | {{ project.client.company }}
          </h1>
          <h3>
            {{ "Dictionary.Email" | translate }}:
            {{ project.client.email }}
          </h3>
          <h3>
            {{ "Dictionary.Address" | translate }}:
            {{ project.client.address?.street }},
            {{ project.client.address?.city }}
          </h3>
          <h3>
            {{ "Dictionary.Phone" | translate }}:
            {{ project.client.phoneNumber }}
          </h3>
        </div>
      </mat-tab>

      <!-- Chatroom Start -->
      <mat-tab label="{{ 'Dictionary.Chatroom' | translate }}">
        <div #chatRoom class="chat-log p-3">
          <div>
            <div *ngFor="let message of project.comments">
              <p class="mat-body-strong message">
                {{ message.text }}
              </p>
              <p class="mat-small sender">
                {{ message.authorId == user?._id ? "Me" : message.authorName }}
                |
                {{ message.createdAt | date : "medium" }}
              </p>
              <br />
            </div>
          </div>
        </div>
        <div class="chat-input-container">
          <div [formGroup]="formGroup" class="chat-input-field">
            <input
              type="text"
              formControlName="messageInput"
              placeholder="{{ 'Dictionary.send' | translate }}"
              aria-label="Message"
              class="chatbar"
              [(ngModel)]="message"
            />
          </div>

          <button
            mat-raised-button
            aria-label="Send"
            class="btn-action send-btn"
            (click)="onSubmit()"
          >
            {{ "Dictionary.send" | translate }}
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
