<div class="survey-container">
  <div class="search-container" *ngIf="isFirstModule">
    <input
      type="text"
      placeholder="{{ 'Message.helpSurvey' | translate }}"
      [(ngModel)]="searchQuery"
      (input)="updateSearch(searchQuery)"
      aria-label="Search"
      class="search-input"
    />
    <button class="search-button" aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
    <!-- Dropdown for filtered choices -->
    <div class="search-results" *ngIf="searchQuery">
      <div
        *ngFor="let choice of filteredChoices"
        class="search-result-item"
        (click)="selectChoice(choice)"
      >
        {{ choice }}
      </div>
    </div>
  </div>

  <div class="border rounded p-2" id="survey">
    <button
      mat-fab
      *ngIf="!isFirstModule"
      class="back-arrow center-v"
      color="primary"
      (click)="prevSurvey()"
    >
      <mat-icon aria-hidden="back-button" aria-label="Example home icon"
        >arrow_back</mat-icon
      >
    </button>

    <h2 class="center">{{ title }}</h2>
    <!-- Questionnaire Start -->
    <div class="row">
      <div class="col">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="choice"
          id="selector"
        >
          <mat-radio-button
            class="radio-button"
            *ngFor="let choice of surveyModule"
            [value]="choice"
            ><p>{{ choice }}</p>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <!-- Questionnaire End -->

    <p class="mat-body-strong red center">{{ message }}</p>
  </div>
  <button
    #nextbtn
    mat-raised-button
    class="pull-right"
    id="next-btn"
    (click)="nextSurvey($event.target)"
  >
    {{ "Dictionary.Next" | translate }}
  </button>
</div>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
