// Survey Container
.survey-container {
  height: auto;
  width: 90%; // Adjusted for responsiveness
  margin: 30px auto;

  @media (min-width: 768px) {
    width: 70%; // Adjust for larger screens
  }
}

// Search Bar
.search-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  padding-right: 60px;
  border: 1px solid #ccc;
}

.search-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #f94144;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Search Bar end

.pull-right {
  margin-top: 15px;
  float: right;
  margin-top: 5vh !important;
  background-color: #225d9c;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  font-size: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
  min-width: 80px;
}

.btnProfiles:hover, .btnProfiles:focus {
  background-color: #07213b;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

}

#survey {
  padding-top: 2vw;
  padding-bottom: 1vw;
}

mat-radio-button {
  padding-left: 10%;
  margin-bottom: 10px;
}

.radio-button {
  display: flex;
  flex-direction: column;
}

.radio-button p {
  white-space: normal !important; // Allow the text to wrap
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

.center-v {
  text-align: center;
}

.red {
  color: red;
}

.back-arrow {
  margin-left: 2vw;
}

.search-results {
  position: absolute;
  width: calc(100% - 20px);
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0 0 4px 4px;
  z-index: 100;
}

.search-result-item {
  padding: 10px 20px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}
