mat-card {
  padding: 30px;
  margin: auto;
  max-width: 500px;
  mat-card-content {
    .row {
      margin: 0;
    }
  }
}

.container {
  background-color: #eef2f6;
}

.row {
  display: grid;
}

textarea {
  height: 90px;
}
