<p class="headingDec"> Users </p>


<div>
  <mat-card class="content">
    <mat-card-header class="cardHeader">
      <mat-card-title class="cardTitle">
        Customers
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="cardActions">
      <button mat-button routerLink="/customers" class="cardButton">See Customer Profiles</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="content">
    <mat-card-header class="cardHeader">
      <mat-card-title class="cardTitle">
        Pros
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="cardActions">
      <button mat-button routerLink="/pros" class="cardButton">See Pro Profiles</button>
    </mat-card-actions>
  </mat-card>
</div>
