<mat-card id="aboutUs">
  <mat-card-title>About Us</mat-card-title>
  <mat-card-content>
    Computotal provides quality advice and support to its clients regarding
    network and computing systems by proactively planning, designing,
    installing, and maintaining computer networks. Computotal wants to provide a
    single platform for the clients to directly connect with the right IT
    technicians to provide them with the services they need. Additionally, the
    technicians/service providers should also be able to join the IT Pros
    network by registering through the platform.
  </mat-card-content>
</mat-card>
