<!-- <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
</mat-form-field> -->

<!-- <div class="container">
    <input 
    ngx-google-places-autocomplete
    [options]='options'
    placeholder="Enter a location"
    autocomplete="off"
    ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" 
    />
  
    <p>Address: {{ userAddress }}</p>
    <p>Latitude: {{ userLatitude }}</p>
    <p>Longitude: {{ userLongitude }}</p>
    <p>Country: {{ userCountry }}</p>
</div> -->
<mat-card id="aboutUs">
    <mat-card-title>About Us</mat-card-title>
    <mat-card-content>
        Computotal provides quality advice and support to its clients regarding network and
        computing systems by proactively planning, designing, installing, and maintaining
        computer networks. Computotal wants to provide a single platform for the clients to
        directly connect with the right IT technicians to provide them with the services they need.
        Additionally, the technicians/service providers should also be able to join the IT Pros
        network by registering through the platform.
    </mat-card-content>

</mat-card>
