<div class="content-container">
    <div *ngIf="isCustomer">
        <h1 class="mat-display-1 header">
          <strong>  {{ user?.firstName }}'s Projects </strong>
        </h1>
        <div class="border rounded center">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Project Requests">
                    <div>
                        <table
                            mat-table
                            [dataSource]="dataSourceRequest"
                            class="mat-elevation-z8 tableStyle"
                        >
                            <ng-container matColumnDef="serviceName">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Label.ServiceName' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.serviceName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCreated">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCreated' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.createdAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="viewProject">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button
                                        *ngIf="element.state"
                                        mat-raised-button
                                        class="btnProfiles"
                                        (click)="goToProject(element._id)"
                                    >
                                        {{
                                            'Dictionary.ViewProject' | translate
                                        }}
                                    </button>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumnsRequest"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="
                                    let row;
                                    columns: displayedColumnsRequest
                                "
                            ></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Projects Ongoing">
                    <div>
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input
                                matInput
                                (keyup)="applyFilterOngoingClient($event)"
                                placeholder=""
                                #input
                            />
                        </mat-form-field>
                        <table
                            mat-table
                            [dataSource]="dataSource"
                            class="mat-elevation-z8 tableStyle"
                        >
                            <ng-container matColumnDef="serviceName">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Label.ServiceName' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.serviceName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.Status' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.state }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCreated">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCreated' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.createdAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCompleted">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCompleted' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.completedAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="viewProject">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button
                                        mat-raised-button
                                        class="btnProfiles"
                                        (click)="goToProject(element._id)"
                                    >
                                        {{
                                            'Dictionary.ViewProject' | translate
                                        }}
                                    </button>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Projects Completed">
                    <div>
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input
                                matInput
                                (keyup)="applyFilterCompletedClient($event)"
                                placeholder=""
                                #input
                            />
                        </mat-form-field>
                        <table
                            mat-table
                            [dataSource]="dataSourceCompleted"
                            class="mat-elevation-z8 tableStyle"
                        >
                            <ng-container matColumnDef="serviceName">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Label.ServiceName' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.serviceName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.Status' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.state }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCreated">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCreated' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.createdAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCompleted">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCompleted' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.completedAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="viewProject">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button
                                        mat-raised-button
                                        class="btnProfiles"
                                        (click)="goToProject(element._id)"
                                    >
                                        {{
                                            'Dictionary.ViewProject' | translate
                                        }}
                                    </button>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <!-- Start of tech view -->

    <div *ngIf="!isCustomer">
        <div class="header">
            <h1 class="mat-display-1 head-title">My Projects</h1>
            <mat-slide-toggle [(ngModel)]="isActive" class="status"
                ><span>{{
                    isActive ? 'I am Available' : 'I am Busy'
                }}</span></mat-slide-toggle
            >
        </div>
        <div class="border rounded center">
            <mat-tab-group mat-align-tabs="start" id="tabgroup" >
                <mat-tab label="Project Requests">
                    <div>
                        <table
                            mat-table
                            [dataSource]="dataSourceRequest"
                            class="mat-elevation-z8 tableStyle"
                        >
                            <ng-container matColumnDef="serviceName">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Label.ServiceName' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.serviceName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCreated">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCreated' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.createdAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="viewProject">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button
                                        *ngIf="element.state"
                                        mat-raised-button
                                        class="btnProfiles"
                                        (click)="goToProject(element._id)"
                                    >
                                        {{
                                            'Dictionary.ViewProject' | translate
                                        }}
                                    </button>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumnsRequest"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="
                                    let row;
                                    columns: displayedColumnsRequest
                                "
                            ></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Projects Ongoing">
                    <div>
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input
                                matInput
                                (keyup)="applyFilterTechie($event)"
                                placeholder=""
                                #input
                            />
                        </mat-form-field>
                        <table
                            mat-table
                            [dataSource]="dataSource"
                            class="mat-elevation-z8 tableStyle"
                        >
                            <ng-container matColumnDef="serviceName">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Label.ServiceName' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.serviceName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.Status' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.state }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCreated">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCreated' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.createdAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCompleted">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCompleted' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.completedAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="viewProject">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button
                                        mat-raised-button
                                        class="btnProfiles"
                                        (click)="goToProject(element._id)"
                                    >
                                        {{
                                            'Dictionary.ViewProject' | translate
                                        }}
                                    </button>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Projects Completed">
                    <div>
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input
                                matInput
                                (keyup)="applyFilterCompletedClient($event)"
                                placeholder=""
                                #input
                            />
                        </mat-form-field>
                        <table
                            mat-table
                            [dataSource]="dataSourceCompleted"
                            class="mat-elevation-z8 tableStyle"
                        >
                            <ng-container matColumnDef="serviceName">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Label.ServiceName' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.serviceName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.Status' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.state }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCreated">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCreated' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.createdAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dateCompleted">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'Dictionary.DateCompleted' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.completedAt | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="viewProject">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button
                                        mat-raised-button
                                        class="btnProfiles"
                                        (click)="goToProject(element._id)"
                                    >
                                        {{
                                            'Dictionary.ViewProject' | translate
                                        }}
                                    </button>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
