<div class="container m-4">
  <div class="row">
    <div class="pl-2">
      <button
        class="backBtn btn btn-primary mb-3"
        onclick="location.href='/service-tech-select'"
      >
        <p>Back</p>
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 pl-2">
      <ng-template [ngIf]="avgRating >= 0" [ngIfElse]="none">
        <p class="textStyle">{{ alias + " (" + rating + " stars)" }}</p>
      </ng-template>
      <ng-template #none>
        <p class="textStyle">{{ name + " (" + rating + " stars)" }}</p>
      </ng-template>
      <p><strong>Company Name:</strong> {{ companyName }}</p>
      <p><strong>Name:</strong> {{ name }}</p>
      <p><strong>Email:</strong> {{ email }}</p>
      <p><strong>Phone Number:</strong> {{ phoneNumber }}</p>
      <p><strong>Address:</strong> {{ address }}</p>
      <p><strong>Skills:</strong> {{ skills }}</p>
      <p><strong>Unit Price:</strong> {{ unitPrice }}</p>
      <p><strong>Pro ID:</strong> {{ id }}</p>
      <button class="tabopen btn btn-primary mt-3" (click)="techSelect(id)">
        Create a Project
      </button>
    </div>
  </div>
</div>
