.mat-tab-group {
    margin-top: 30px;
    width: 1200px;
  }

  table {
    width: 100%;
  }

  .example-viewport {
    width: 100%;
    height: 350px;
  }
  
  .example-item {
    height: 50px;
  }

  .boldText{
    font-weight: bold;
  }

  .tableStyle {
    margin-top: 0px;
  }

  .textStyle {
    padding-top: 25px;
    font-size: x-large;
    font-weight: bold;
    color: #002b5c;
  }

  .backBtn {
    margin-top: 35px;
    color: #002b5c;
    float: right;
  }


  .mat-column-feedback {
    padding: 2px;

    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }