<div class="flex-column d-flex h-100">
  <mat-toolbar [class.pro-navbar]="isProfessional" id="app-toolbar">
    <button mat-button id="app-menu-title-btn" (click)="routeBasedOnUser()">
      <h5 id="app-title">{{ "App.Title" | translate }}</h5>
    </button>

    <!-- User Menu Dropdown when logged in as a Client-->
    <div *ngIf="user" class="d-flex justify-content-end">
      <span *ngIf="isProfessional" id="pro-greeting">
        Welcome back, {{ user?.firstName }}
      </span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="userMenu"
        aria-label="User menu"
        id="hamburger-btn"
      >
        <mat-icon [ngStyle]="{ color: isProfessional ? 'white' : 'black' }">
          menu
        </mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <!-- My Projects button always visible for logged-in users -->
        <button mat-menu-item (click)="renderProjectsList()">
          My Projects
        </button>
        <button mat-menu-item (click)="settings()">
          {{ "Dictionary.Settings" | translate }}
        </button>
        <button *ngIf="!isProfessional" mat-menu-item (click)="joinPro()">
          {{ "Label.JoinPro" | translate }}
        </button>
        <button mat-menu-item (click)="signOut()">
          {{ "Dictionary.SignOut" | translate }}
        </button>
      </mat-menu>
    </div>

    <!-- Original Sign in Dropdown when not logged in -->
    <div *ngIf="!user" class="d-flex justify-content-end">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signIn()">
          {{ "Dictionary.SignIn" | translate }}
        </button>
        <button mat-menu-item (click)="signUp()">
          {{ "Dictionary.SignUp" | translate }}
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="menu" id="dropdownButton">
        <span>{{ "Dictionary.SignIn" | translate }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <button mat-stroked-button (click)="joinPro()" class="m-1">
        {{ "Label.JoinPro" | translate }}
      </button>
      <button
        mat-stroked-button
        id="app-footer-about-btn"
        class="m-1"
        (click)="routeToContactUsPage()"
      >
        {{ "Dictionary.ContactUs" | translate }}
      </button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <footer class="footer px-4 py-3" id="footer">&copy; 2024 Computotal</footer>
</div>
