<div class="flex-column d-flex h-100">
    <mat-toolbar color="primary" id="app-toolbar">
        <button mat-button id="app-menu-title-btn" (click)="routeBasedOnUser()">
            <h5>{{ 'App.Title' | translate }}</h5>
        </button>
        <div *ngIf="user" id="app-menu-user-info" class="m-1">
            <h6>Hello, {{ user?.firstName }}</h6>
        </div>

        <button mat-raised-button *ngIf="user" id="app-menu-settings-btn" class="m-1" (click)="settings()">
            {{'Dictionary.Settings' | translate}}
        </button>
        <button mat-raised-button *ngIf="!user" id="app-menu-signin-btn" class="m-1" (click)="signIn()">
            {{ 'Dictionary.SignIn' | translate }}
        </button>

        <button mat-raised-button *ngIf="user" id="app-menu-signout-btn" class="m-1" (click)="signOut()">
            {{ 'Dictionary.SignOut' | translate }}
        </button>
        <button mat-raised-button id="app-menu-signup-btn" class="m-1" (click)="signUp()">
            {{ 'Dictionary.SignUp' | translate }}
        </button>

        <button mat-raised-button id="app-menu-join-btn" class="m-1" (click)="joinPro()">
            {{ 'Label.JoinPro' | translate }}
        </button>

        <button mat-raised-button id="app-menu-project-btn" class="m-1" (click)="renderProjectsList()"
            style="display: none;">
            MyProjects
        </button>



        <!-- <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
        >
            <mat-icon>more_vert</mat-icon>
        </button> -->


        <!-- <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="renderProjectsList()">
                <span>My Projects</span>
            </button>

            <button mat-menu-item disabled>
                <span>Sign Out</span>
            </button>
        </mat-menu> -->
    </mat-toolbar>

    <router-outlet></router-outlet>

    <footer class="footer mt-auto py-1" id="footer">
        <span class="fill-remaining-space"></span>
        <button mat-button id="app-footer-about-btn" class="m-1 text-white" (click)="routeBasedOnUser()">
            {{ 'Dictionary.Home' | translate }}
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-button id="app-footer-about-btn" class="m-1 text-white" (click)="routeToAboutPage()">
            {{ 'Dictionary.About' | translate }}
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-button id="app-footer-about-btn" class="m-1 text-white" (click)="routeToContactUsPage()">
            {{ 'Dictionary.ContactUs' | translate }}
        </button>
        <span class="fill-remaining-space"></span>
    </footer>
</div>