mat-card {
  padding: 30px;
  margin: auto;
  max-width: 600px;
  box-shadow: none;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: normal;
}

h2 {
  color: #3f51b5;
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
}

mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #0097a7;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #b0bec5;
}

mat-form-field.ng-invalid.ng-touched .mat-form-field-outline {
  color: #e53935;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #0097a7;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

mat-error {
  color: #e53935;
  font-size: 16px;
}

.mat-form-field-label {
  color: #757575;
}

.mat-input-element {
  color: #212121;
  padding: 8px 0;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-ripple {
  display: none;
}

button.mat-raised-button {
  color: white;
  background-color: #0288d1;
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #0288d1;
  text-decoration: none;
}

.skill-container h3 {
  font-weight: 500;
}

.my-3 {
  margin-bottom: 1rem;
}

.disabled-label {
  opacity: 0.5;
  pointer-events: none;
}
