mat-card {
    padding: 30px;
    margin: auto;
    max-width: 600px;
    mat-card-content {
        .row {
            margin: 0;
        }
    }
}

h3 {
    margin: 0;
}

.row {
    display: grid;
}

.skill-box {
    display: flex;
    flex-direction: column;
}

.skill-container {
    margin-left: 10px;
}

